<h1>Dodaj nowego uczestnika</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :name, 'Imię uczestnika' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, 'Email uczestnika' %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit 'Dodaj uczestnika' %>
  </div>
<% end %>
